<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>webpack test</title>
  </head>
  <body>
    <div id="wrapper" class="container" ng-app="AppTest">
      <div class="form-horizental" ng-controller="AppCtl">
        <div>{{Data.num}}</div>
        <div>{{Data.str}}</div>
        <button class="btn btn-primary" ng-click="ShowData()">Show</button>
      </div>
      <hr />
      <div class="form-horizental" ng-controller="DataCtl">
        <input type="text" name="Str" id="Str" value="" ng-model="str"/>
        <button class="btn btn-primary" ng-click="Add()">Add</button>
        <button class="btn btn-primary" ng-click="Change()">Change</button>
      </div>
    </div>
    <!-- <script src="dist/CommonsChunk.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="dist/index.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
